#about {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: var(--background-color);
}

.about-item {
    padding: 0 1em;
}

.about-head {
    margin: 0;
}

#about-paragraph {
    text-align: justify;
}

#about-btn {
    border: none;
    padding: 0.83em 0.83em;
    width: 60%;
    font-size: 15px;
    border-radius: var(--border-radius-small);
    background: var(--main-color);
    text-decoration: none;
    color: black;
}

    #about-btn:hover {
        background-color: white;
        color: var(--main-color);
        border: 1px solid var(--main-color);
    }

.about-img {
    border: 5px solid var(--main-color);
    border-radius: var(--border-radius-large);
    width: 100%;
}

.projects-box {
    height: auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.project-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid grey;
}

.project-image {
    width: 100%;
}

a.project-link{
    width: 100%;
    height: 100%;
}
.image-hover{
    background-color: var(--background-black-transparent);
    width: 100%;
    height: 100%;
    position: absolute;
}
/* TODO: Media Querys for responsive design*/

#skills{
    background-color: var(--background-color);
}

.skills-container{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
}

.l1{
    grid-column: span 1;
}

.l2{
    grid-column: span 2;
}

.l3{
    grid-column: span 3;
}

.l4{
    grid-column: span 4;
}

.skills-item{
    padding:1em;
    background-color: var(--main-color);
    margin: 0.5em 0;
    border: 1px solid var(--background-color);
    border-radius: 0.5em;
    text-align: center;
}

.skills-item:hover{
    background-color: var(--background-color);
    color: var(--main-color);
    border-color: var(--main-color);
}

#contact{
    display: flex;
    flex-wrap: flex;
}

#contact-container{
    display: flex;
    flex-wrap: wrap;
    font-size: 1.6rem;
    justify-content: center;
}

.contact-link{
    text-decoration: none;
    color: var(--main-color);
    border-radius: 1em;
    border: 2px solid var(--main-color);
    padding: 1em;
    margin: .2em .4em;
}

.contact-link:hover{
    background-color: var(--main-color);
    color:white;

}