{% extends "layout.html" %}
{% block head %}{% endblock %}
{% block main_container %}
<div id="project-box">
    <img class="project-image" src="">
    <h1 id="project-title">Basic Blog</h1>
    <div id="project-description">
        As my first project, I built a simple blog which has dynamic and responsive layout. Built using vanilla HTML, CSS
        and JavaScript. A simple design in order to meet project requirements, using the vanilla languages to show an
        intimate knowledge of all the languages used in front end development without the use of frameworks. A links lead
        to random internet websites, as per project requirements. Hidden under the "Signup" link, there is another part to
        the project: A registration page.
        <a class="code-link" href="/basic-blog/">View the Project</a>
        <a class="github-link" href="https://github.com/tpiggo/blog-project">Source Code</a>
    </div>
</div>
{% endblock %}