{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('.static', filename='styles/index.css') }}">
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
{% endblock %}
{% block main_container %}
    <div class="content-box" id="about">
        <div class="about-item">
            <h2 class="about-head"> Hello There!</h2>
            <hr>
            <p id="about-paragraph">
                My name is Timothy! I'm a U3 student at McGill. Currently learning about Operating systems and Macroeconomics.
                I love advancing my knowledge and I am very interested in web development. Other interests include:
                Space flight, aviation, rock music and football (European).
            </p>
            <a id="about-btn" href="#contact">Find out more!</a>
        </div>
        <div class="about-item"><img class="about-img" src="{{ url_for('.static', filename='images/internet-computer-pic.jpg') }}"></div>
    </div>
    <div class="content-box" id="projects">
        <h2 id="projects-header">My Latest Work</h2>
        <h3> Web Development</h3>
        <div class="projects-box">
            <div id="pid1" class="project-item">
                <div class="project-image-box">
                    <a class="project-link" href="basic-blog#project-container">
                        <img class='project-image' src="{{ url_for('.static', filename='images/blog-page.png') }}">
                    </a>
                </div>
                <p>Simple Blog utilizing HTML with Javascript in combination with CSS to render pages based on specifications.</p>
            </div>
            <div id="pid2" class="project-item">
                <div class="project-image-box">
                    <a class="project-link" href="basic-blog#project-container">
                        <img class='project-image' src="{{ url_for('.static', filename='images/blog-page.png') }}">
                    </a>
                </div>
                <p>Node.js, Express.js and MongoDB Project inspired by Traversy Media</p>
            </div>
        </div>
        <!-- Compsci projects -->
        <h3> Computer Science Projects</h3>
        <div class="projects-box">
            <div id="pid3" class="project-item">
                <div class="project-image-box">
                    <a class="project-link" href="rpc-server#project-container">
                        <img class='project-image' src="{{ url_for('.static', filename='images/coding-pic.jpeg') }}">
                    </a>
                </div>
                <p>A remote procedure call server handling concurrent connections using multiprocessing in C.</p>
            </div>
            <div id="pid4" class="project-item">
                <div class="project-image-box">
                    <a class="project-link" href="user-threads#project-container">
                        <img class='project-image' src="{{ url_for('.static', filename='images/Multithreading.png') }}">
                    </a>
                </div>
                <p>Concurrent user level threading library using the FCFS scheduling algorithm and many to many mapping of threads</p>
            </div>
        </div>
        <h2>More coming soon!</h2>
    </div>
    <div class="content-box" id="skills">
        <!-- Languages -->
        <h2>Technological Skills:</h2>
        <hr>
        <p>Always learning and learning is fun!</p>
        <div class="skills-container">
            <div class="skills-item l2">HTML5 <i class="fab fa-html5"></i></div>
            <div class="skills-item l2">CSS3 <i class="fab fa-css3-alt"></i></div>
            <div class="skills-item l3">Javascript <i class="fab fa-js"></i></div>
            <div class="skills-item l1">MongoDB <span class="iconify" data-icon="logos:mongodb" data-inline="false"></span></div>
            <div class="skills-item l1">PostgreSQL <span class="iconify" data-icon="cib:postgresql" data-inline="false"></span></div>
            <div class="skills-item l3">Python <i class="fab fa-python"></i></div>
            <div class="skills-item l3"><span class="iconify" data-icon="cib:c" data-inline="false"></span></div>
            <div class="skills-item l1">PHP  <i class="fab fa-php"></i></div>
            <div class="skills-item l1">GitHub <i class="fab fa-github"></i></div>
            <div class="skills-item l1">git <i class="fas fa-code-branch"></i></div>
            <div class="skills-item l1">Bootstrap <i class="fab fa-bootstrap"></i></div>
            <div class="skills-item l1">jQuery <i class="fas fa-code"></i></div>
            <div class="skills-item l2">oCaml <span class="iconify" data-icon="simple-icons:ocaml" data-inline="false"></span></div>
            <div class="skills-item l2">Java <i class="fab fa-java"></i></div>
            <div class="skills-item l2">React <i class="fab fa-react"></i></div>
            <div class="skills-item l2">Flask <span class="iconify" data-icon="cib:flask" data-inline="false"></span></div>
        </div>
        </div>
    </div>
    <div class="content-box" id="contact">
        <!-- TODO -->
        <div id="contact-foreword-container">
            <h2>Contact me!</h2>
            <hr>
            <p> 
                I would love to work with you, reach out on any of the provided
                social media links!
            </p>
        </div>
        <div id="contact-container">
            <a class="contact-link" href="mailto:piggott291@gmail.com">
                <i class="fas fa-envelope"></i>
            </a>
            <a class="contact-link" href="https://github.com/tpiggo">
                <i class="fab fa-github"></i>
            </a>
            <a class="contact-link" href="facebook.com/timothy.piggott.7">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a class="contact-link" href="https://instagram.com/tim_piggott">
                <i class="fab fa-instagram"></i>
            </a>
            <a class="contact-link" href="https://twitter.com/t_piggo"> 
                <i class="fab fa-twitter"></i>
            </a>
            <a class="contact-link" href="https://linkedin.com">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </div>
    </div>
    <div class="content-box" id="carosel-container">
        <h3>More About me!</h3>
        <hr>
        <div id="carosel">
            <div class="carosel-item active">Built this website using Python and Flask!</div>
            <div class="carosel-item" style="display:none">While I am an economics minor, I also have an extensive knowledge of the financial markets</div>
            <div class="carosel-item" style="display:none">Learning Angluar as well as Ruby on Rails</div>
            <div class="carosel-item" style="display:none">Web developement is my favourite part of Computer Science!</div>
            <div class="carosel-item" style="display:none">Currently working on a volunteer campaign for impact200 with McGill!</div>
        </div>
        <div id="carosel-controller">
            <i class="far fa-circle active" onclick="caroselControl(0)"></i>
            <i class="far fa-circle" onclick="caroselControl(1)"></i>
            <i class="far fa-circle" onclick="caroselControl(2)"></i>
            <i class="far fa-circle" onclick="caroselControl(3)"></i>
            <i class="far fa-circle" onclick="caroselControl(4)"></i>
        </div>
    </div>
{% endblock %}