{% extends "layout.html" %}
{% block head %}{% endblock %}
{% block main_container %}
<div id="project-container">
    <h1 id="project-title">Passport Authenication: Node, Express and MongoDB Project</h1>
    <div id="project-description">
        Passport authentication project was my first project utilizing Node.js, Express.js and MongoDB. Inspired by
        Travisy Media's tutorial. The project allowed for users to be created dynamically and for users to log into
        their accounts after creation. No User interface for the dashboard has been implemented at this time.
    </div>
    <a id="code-link" class="project-link" href="hosting-error" >View the Project</a>
    <a id="github-link" class="project-link" href="https://github.com/tpiggo/PassportAuth">Source Code</a>
</div>
{% endblock %}
{% block js_body %}
<script type="text/javascript">
document.getElementById('header-btn').href = "#main-footer"
</script>
{% endblock %}
